Client/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfServerFiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerFiles" nillable="true" type="tns:ServerFiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerFiles" nillable="true" type="tns:ArrayOfServerFiles" />
  <xs:complexType name="ServerFiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChange" type="xs:dateTime" />
      <xs:element minOccurs="0" name="files" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerFiles" nillable="true" type="tns:ServerFiles" />
</xs:schema>